html,body,h1,h2,h3,h4,h5,h6 {font-family: "Calibri", sans-serif, color: white;}
	p {font-family: "Calibri", sans-serif, color: white;}

.w3-rightbar {
    border-right: 6px solid #292828!important;
}

.w3-leftbar {
    border-left: 6px solid #292828!important;
}

.w3-bottombar {
    border-bottom: 3px solid #292828!important;
}
.w3-topbar {
    border-top: 3px solid #292828!important;
}

.w3-light-grey {
	color: white;
}

.w3-dark-grey, .w3-hover-dark-grey:hover, .w3-dark-gray, .w3-hover-dark-gray:hover {
    color: #fff!important;
    background-color: #292828!important;
}

.w3-white {
	background-color: #383838;
	color: white;
}


#defaultCanvas0 {
	left: 0px;top: 0px;z-index: -1;position: fixed;
}

.w3-circle {
	border-style: solid;
}



.row {
  margin: 8px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
}

/* Clear floats after rows */ 
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  background-color: white;
  padding: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .column {
    width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}




/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  -webkit-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
